
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<table class="table-custom table table-bordered text-center no-footer dtr-inline" width="100%" role="grid">
    <thead>
        <tr>
            <th class="text-center" lang="phieudanhgiarenluyenchitiet-noidungvatieuchidanhgia">
                Nội dung và tiêu chí đánh giá
            </th>
            <th style="width:6%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoithieu">
                Mức<br>điểm<br>tối thiểu
            </th>
            <th style="width:5%" class="text-center" lang="phieudanhgiarenluyenchitiet-mucdiemtoida">
                Mức<br>điểm<br>tối đa
            </th>
            <th style="width:10%" class="text-left" lang="phieudanhgiarenluyenchitiet-tunhanxet">Tự nhận xét</th>
            <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet-mucdiemtudanhgiacuasinhvien">
                Mức điểm<br>tự đánh giá<br>của sinh viên
            </th>
            <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet_mucdiemcansulopxacnhan">
                Mức điểm<br>cán sự<br>lớp xác nhận
            </th>
            <th class="text-center" style="width:10%" lang="phieudanhgiarenluyenchitiet_mucdiemkqrlcvhthoacgvcn">
                Mức điểm<br>KQRL CVHT<br>hoặc<br>GVCN xác nhận
            </th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td class="text-center bold" style="font-size:16px">Tổng điểm</td>
            <td class="text-center bold" style="font-size:16px"></td>
            <td class="text-center bold" style="font-size:16px"></td>
            <td class="text-center bold" style="font-size:16px"></td>
            <td class="text-center bold" style="font-size:16px">82,00</td>
            <td class="text-center bold" style="font-size:16px">82,00</td>
            <td class="text-center bold" style="font-size:16px">82,00</td>



        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>I. ĐÁNH GIÁ VỀ Ý THỨC HỌC TẬP</strong><em> <strong>(Khung điểm từ 0 đến 20 điểm)</strong></em><strong> </strong><em><strong>(Nếu tổng số điểm &gt; 20 điểm sẽ quy về điểm tối đa là 20 điểm)</strong></em></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">20</td>
            <td></td>
            <td class="bold">17,00</td>
            <td class="bold">17,00</td>
            <td class="bold">17,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>1. Ý thức và thái độ trong học tập</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Ý thức và thái độ trong học tập tốt: đăng ký học đủ khối lượng và đúng thời gian quy định, không bị nhắc nhở về thái độ trong quá trình học tập.</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Bị nhắc nhở về ý thức và thái độ học tập</p>
            </td>
            <td class="">-5</td>
            <td class="">-5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>2. Kết quả học tập</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">7,00</td>
            <td class="bold">7,00</td>
            <td class="bold">7,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ ĐTBHT từ 3,60 đến 4,00</p>
            </td>
            <td class="">10</td>
            <td class="">10</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ ĐTBHT từ 3,20&nbsp;đến 3,59</p>
            </td>
            <td class="">8</td>
            <td class="">8</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ ĐTBHT từ 2,50 đến 3,19</p>
            </td>
            <td class="">7</td>
            <td class="">7</td>
            <td class="text-left">
            </td>
            <td>
                7,00
            </td>
            <td class="">
                <div style="">7,00</div>
            </td>
            <td class="" style="">7,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ ĐTBHT từ 2,00 đến 2,49</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ ĐTBHT &lt; 2,00&nbsp;</p>
            </td>
            <td class="">-5</td>
            <td class="">-5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Điểm trung bình học kỳ (thang điểm 4) đạt:</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>3. Ý thức chấp hành nội quy - quy chế thi</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt nội quy - quy chế thi</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm quy chế thi&nbsp;(-2 điểm/lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4. Ý thức và thái độ tham gia các câu lạc bộ học thuật, các hoạt động học thuật, hoạt động ngoại khóa, hoạt động NCKH</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.1. Câu lạc bộ học thuật, các hoạt động học thuật, hoạt động ngoại khóa</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Tham gia các CLB, các hoạt động học thuật, hoạt động ngoại khóa</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Thành viên BTC các CLB, hoạt động học thuật, hoạt động ngoại khóa</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Đã tham gia/thành viên BTC của CLB, hoạt động:</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.2. Tham gia thi SVG cấp trường</strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.3. Kết quả tham gia thi SVG đạt được:</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải nhất&nbsp;SVG cấp trường</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải nhì SVG cấp trường</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải ba&nbsp;SVG cấp trường</p>
            </td>
            <td class="">0</td>
            <td class="">1</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.4. Tham gia thi Olympic toàn quốc (hoặc tương đương)</strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.5. Kết quả tham gia OLP đạt được:</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải nhất OLP</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải nhì OLP</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải ba&nbsp;OLP</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải khuyến khích</p>
            </td>
            <td class="">0</td>
            <td class="">1</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.6. Tham gia và hoàn thành NCKH sinh viên</strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4.7. Kết quả tham gia NCKH đạt được:</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải A NCKH</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải B&nbsp;NCKH</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải C&nbsp;NCKH</p>
            </td>
            <td class="">0</td>
            <td class="">1</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Đã tham gia thi SVG/OLP/NCKH (môn thi, cấp thi, giải đạt được):</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>II. ĐÁNH GIÁ VỀ Ý THỨC CHẤP HÀNH NỘI QUY, QUY CHẾ, QUY ĐỊNH TRONG TRƯỜNG <em>(Khung điểm từ 0 đến 25 điểm)</em></strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">25</td>
            <td></td>
            <td class="bold">25,00</td>
            <td class="bold">25,00</td>
            <td class="bold">25,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>1. Ý thức chấp hành các văn bản chỉ đạo của cấp trên: thực hiện nghĩa vụ tham gia đánh giá chất lượng giảng dạy của giảng viên</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành đầy đủ</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Không chấp hành đầy đủ&nbsp;(-2 điểm/lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>2. Chấp hành các nội quy, quy chế của nhà trường</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt, không vi phạm</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Bị xử lý kỷ luật ở mức khiển trách (-2 điểm/ lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Bị xử lý kỷ luật ở mức cảnh cáo (-3 điểm/ lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Bị xử lý kỷ luật ở mức đình chỉ học tập&nbsp;(-5 điểm/lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>3. Chấp hành quy định đóng học phí</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đầy đủ, đúng hạn</p>
            </td>
            <td class="">4</td>
            <td class="">4</td>
            <td class="text-left">
            </td>
            <td>
                4,00
            </td>
            <td class="">
                <div style="">4,00</div>
            </td>
            <td class="" style="">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đóng chậm học phí so với quy định&nbsp;(-3&nbsp;điểm/lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4. Chấp hành quy định về nội, ngoại trú</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt, không vi phạm</p>
            </td>
            <td class="">4</td>
            <td class="">4</td>
            <td class="text-left">
            </td>
            <td>
                4,00
            </td>
            <td class="">
                <div style="">4,00</div>
            </td>
            <td class="" style="">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm&nbsp;(-2 điểm/ lần)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>5. Chấp hành quy định mượn, trả sách của thư viện</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">3,00</td>
            <td class="bold">3,00</td>
            <td class="bold">3,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt</p>
            </td>
            <td class="">3</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
                3,00
            </td>
            <td class="">
                <div style="">3,00</div>
            </td>
            <td class="" style="">3,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm&nbsp;(-3 điểm)</p>
            </td>
            <td class="">-3</td>
            <td class="">-3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>6. Chấp hành quy định của y tế, nhà xe, bảo vệ,…</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>
            <td class="bold">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt</p>
            </td>
            <td class="">4</td>
            <td class="">4</td>
            <td class="text-left">
            </td>
            <td>
                4,00
            </td>
            <td class="">
                <div style="">4,00</div>
            </td>
            <td class="" style="">4,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm&nbsp;(-4 điểm)</p>
            </td>
            <td class="">-4</td>
            <td class="">-4</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>III. ĐÁNH GIÁ VỀ Ý THỨC VÀ KẾT QUẢ THAM GIA CÁC HOẠT ĐỘNG CHÍNH TRỊ, XÃ HỘI, VĂN HÓA, VĂN NGHỆ, THỂ THAO, PHÒNG CHỐNG CÁC TNXH: Khung điểm từ 0 đến 20 điểm <em>(nếu tổng số điểm &gt;20 điểm sẽ quy về điểm tối đa là 20 điểm)</em></strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">20</td>
            <td></td>
            <td class="bold">20,00</td>
            <td class="bold">20,00</td>
            <td class="bold">20,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p style="text-align: justify;"><strong>1. Ý thức tham gia các hoạt động chính trị, xã hội do nhà trường tổ chức và điều động</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Tham gia đầy đủ</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vắng mặt không có lí do chính đáng (-2 điểm/ buổi)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>2. Ý thức tham gia sinh hoạt lớp, sinh hoạt đoàn thể</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Tham gia đầy đủ</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vắng mặt không có lí do chính đáng (-2 điểm/ buổi)</p>
            </td>
            <td class="">-20</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><strong>3. Tham gia các hoạt động văn hóa, văn nghệ, thể thao</strong></p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4. Vai trò, thành tích khi tham gia các hoạt động văn hóa, văn nghệ, thể thao</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Thành viên đội tuyển khoa</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Thành viên đội tuyển trường</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Thành viên ban tổ chức</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt giải hoặc được nhà trường khen thưởng</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Đã tham gia hoạt động:&nbsp;</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>5. Ý thức phòng chống ma túy và các tệ nạn xã hội khác</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Ý thức tốt</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm (- 5 điểm)</p>
            </td>
            <td class="">-5</td>
            <td class="">-5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>IV. ĐÁNH GIÁ VỀ PHẨM CHẤT CÔNG DÂN VÀ QUAN HỆ VỚI CỘNG ĐỒNG: <em>(Khung điểm từ 0 đến 25 điểm)</em></strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">25</td>
            <td></td>
            <td class="bold">20,00</td>
            <td class="bold">20,00</td>
            <td class="bold">20,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>1. Ý thức chấp hành chủ trương của Đảng, chính sách, pháp luật của Nhà nước</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">10,00</td>
            <td class="bold">10,00</td>
            <td class="bold">10,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt</p>
            </td>
            <td class="">10</td>
            <td class="">10</td>
            <td class="text-left">
            </td>
            <td>
                10,00
            </td>
            <td class="">
                <div style="">10,00</div>
            </td>
            <td class="" style="">10,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm (-10 điểm)</p>
            </td>
            <td class="">-10</td>
            <td class="">-10</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>2. Lối sống, thái độ quan hệ với thầy cô giáo, CBCNV và SV trong trường</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>
            <td class="bold">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Có lối sống lành mạnh, quan hệ đúng mực</p>
            </td>
            <td class="">5</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
                5,00
            </td>
            <td class="">
                <div style="">5,00</div>
            </td>
            <td class="" style="">5,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm&nbsp;(-5 điểm)</p>
            </td>
            <td class="">-5</td>
            <td class="">-5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><strong>3. Có tinh thần giúp đỡ bạn bè, người nghèo, người gặp khó khăn</strong></p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
                3,00
            </td>
            <td class="">
                <div style="">3,00</div>
            </td>
            <td class="" style="">3,00</td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>4. Ý thức giữ gìn trật tự ATXH và an toàn giao thông</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold">2,00</td>
            <td class="bold">2,00</td>
            <td class="bold">2,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Chấp hành tốt</p>
            </td>
            <td class="">2</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
                2,00
            </td>
            <td class="">
                <div style="">2,00</div>
            </td>
            <td class="" style="">2,00</td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Vi phạm&nbsp;(-2 điểm)</p>
            </td>
            <td class="">-2</td>
            <td class="">-2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><strong>5. Tham gia công tác xã hội (hiến máu nhân đạo, tình nguyện mùa hè xanh, tiếp sức mùa thi hoặc các công tác XH khác)</strong></p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Đã tham gia hoạt động:&nbsp;</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>V. ĐÁNH GIÁ VỀ Ý THỨC VÀ KẾT QUẢ THAM GIA CÔNG TÁC PHỤ TRÁCH LỚP, CÁC ĐOÀN THỂ, TỔ CHỨC TRONG NHÀ TRƯỜNG HOẶC SINH VIÊN ĐẠT THÀNH TÍCH ĐẶC BIỆT TRONG HỌC TẬP, RÈN LUYỆN:<em> (Khung điểm từ 0 đến 10 điểm)</em></strong></p>
            </td>
            <td class="bold">0</td>
            <td class="bold">10</td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>1. Sinh viên được phân công quản lý lớp, các tổ chức Đoàn, Hội và các tổ chức khác trong nhà trường hoàn thành tốt nhiệm vụ</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ UV BCH Liên chi đoàn, UV BCH Liên chi hội, Bí thư chi đoàn, Trưởng ban nữ sinh, Đội trưởng SVTN, Chủ nhiệm Câu lạc bộ, Lớp trưởng</p>
            </td>
            <td class="">0</td>
            <td class="">4</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Phó bí thư chi đoàn, UV BCH chi đoàn, Phó ban nữ sinh, Phó đội trưởng đội SVTN, Phó chủ nhiệm Câu lạc bộ, Lớp phó</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Thành viên tích cực của các CLB, đội tuyển Olympic, đội văn nghệ, thể thao</p>
            </td>
            <td class="">0</td>
            <td class="">2</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Hoạt động kém hiệu quả hoặc không gương mẫu: 0 điểm&nbsp;</p>
            </td>
            <td class="">0</td>
            <td class="">0</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Nhiệm vụ được phân công:</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class="bold text-left">
                <p><strong>2. Được khen thưởng hoàn thành tốt nhiệm vụ</strong></p>
            </td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td></td>
            <td class="bold"></td>
            <td class="bold"></td>
            <td class="bold"></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Bí thư chi bộ SV; Chi ủy viên chi bộ SV; UVBCH Đoàn trường; UVBCH Hội sinh viên trường; Bí thư &amp; Phó bí thư LC Đoàn</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Được kết nạp Đảng</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Đạt yêu cầu khi tham gia học lớp nâng cao nhận thức về Đảng</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Khen thưởng cấp Bộ và tương đương trở lên</p>
            </td>
            <td class="">0</td>
            <td class="">5</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Khen thưởng cấp Trường</p>
            </td>
            <td class="">0</td>
            <td class="">4</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p>+ Khen thưởng cấp Khoa</p>
            </td>
            <td class="">0</td>
            <td class="">3</td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>
        <tr>
            <td class=" text-left">
                <p><em><strong>Đã được khen thưởng:</strong></em></p>
            </td>
            <td class=""></td>
            <td class=""></td>
            <td class="text-left">
            </td>
            <td>
            </td>
            <td class="">
                <div style=""></div>
            </td>
            <td class="" style=""></td>

        </tr>

    </tbody>
</table>
