@model List<HUCE.Models.MonHoc>

@{
    ViewBag.Title = "DanhSachMonHoc";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="form-row col-md-8">
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập ma hoac ten mon hoc" id="ttmh" name="ttmh">
                </div>
                <div class="col-md-3 mb-1 top-nav-search">
                    <button class="btn" type="button" id="btnTimKiem"><i class="fas fa-search">Tìm Kiếm</i></button>
                </div>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/MonHoc/XuatFileExcel" class="btn btn-primary"><i class="fas fa-download"></i> Tải danh sách</a>
                <a href="~/MonHoc/ThemMonHoc" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="text-danger">
                @TempData["Error"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Ma Mon Hoc</th>
                                    <th>Ten Mon Hoc</th>
                                    <th>So Tin</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="tbMonHoc">
                                @foreach (var mh in Model)
                                {
                                    <tr>
                                        <td>@mh.MaMH</td>
                                        <td>@mh.TenMH</td>
                                        <td>@mh.SoTin</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/MonHoc/SuaMonHoc?mamh=@mh.MaMH" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa mon hoc này không ?')) { location.href = '/MonHoc/XoaMonHoc?mamh=@mh.MaMH' }" class="btn btn-sm bg-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnTimKiem').click(function () {
                var ttmh = $('#ttmh').val();

                TimMonHoc(ttmh);
            });

            function TimMonHoc(ttmh) {
                $.ajax({
                    url: "/MonHoc/TimMonHoc",
                    type: 'post',
                    data: { ttmh: ttmh },
                    success: function (data) {
                        let display = '';

                        $.each(data.dsmh, function (index, item) {
                            display += '<tr><td>' + item.MaMH + '</td>';
                            display += '<td>' + item.TenMH + '</td>';
                            display += '<td>' + item.SoTin + '</td>';
                            display += '<td class="text-right"><div class="actions"><a href="/MonHoc/SuaMonHoc?mamh=' + item.MaMH + '" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>';
                            display += '<a onclick="if (confirm(\'Bạn có chắc muốn xóa mon hoc này không ?\')) { location.href = \'/MonHoc/XoaMonHoc?mamh=' + item.MaMH + '\'}" class="btn btn-sm bg-danger"><i class="fas fa-trash"></i></a></div></td></tr>';
                        });

                        $('#tbMonHoc').html(display);
                    }
                });
            }
        })
    </script>
}

