@model List<HUCE.Models.TaiKhoan>

@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Layouts/_LayoutMain.cshtml";

}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="form-row col-md-8">
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập tên tai khoan" id="TenTaiKhoan" name="TenTaiKhoan">
                </div>
                <div class="col-md-3 mb-1 top-nav-search">
                    <button class="btn" type="button" id="btnTimKiem"><i class="fas fa-search">Tìm Kiếm</i></button>
                </div>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/TaiKhoan/XuatFileExcel" class="btn btn-primary"><i class="fas fa-download"></i> Tải danh sách</a>
                <a href="~/TaiKhoan/ThemTaiKhoan" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="text-danger">
                @TempData["Error"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Ten Tai Khoan</th>
                                    <th>Mat Khau</th>
                                    <th>Quyen</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="tbTaiKhoan">
                                @foreach (var tk in Model)
                                {
                                    <tr>
                                        <td>@tk.TenTaiKhoan</td>
                                        <td>@tk.MatKhau</td>
                                        @{
                                            switch (tk.MaQuyen)
                                            {
                                                case "1":
                                                    <td>Admin</td>
                                                    break;

                                                case "2":
                                                    <td>Nhan Vien</td>
                                                    break;

                                                case "3":
                                                    <td>Giang Vien</td>
                                                    break;

                                                case "4":
                                                    <td>Sinh Vien</td>
                                                    break;
                                            }
                                        }
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/TaiKhoan/SuaTaiKhoan?tentk=@tk.TenTaiKhoan" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa tai khoan này không ?')) { location.href = '/TaiKhoan/XoaTaiKhoan?tentk=@tk.TenTaiKhoan' }" class="btn btn-sm bg-danger-light">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnTimKiem').click(function () {
                var tentk = $('#TenTaiKhoan').val();

                TimTaiKhoan(tentk);
            });

            function TimTaiKhoan(tentk) {
                $.ajax({
                    url: "/TaiKhoan/TimTaiKhoan",
                    type: 'post',
                    data: { tentk: tentk },
                    success: function (data) {
                        let display = '';

                        $.each(data.dstk, function (index, item) {
                            display += '<tr><td>' + item.TenTaiKhoan + '</td>';
                            display += '<td>' + item.MatKhau + '</td>';
                            display += '<td>';
                            switch (item.MaQuyen) {
                                case "1":
                                    display += "Admin"
                                    break;

                                case "2":
                                    display += "Nhan Vien"
                                    break;

                                case "3":
                                    display += "Giang Vien"
                                    break;

                                case "4":
                                    display += "Sinh Vien"
                                    break;
                            }
                            display += '</td>';
                            display += '<td class="text-right"><div class="actions"><a href="/TaiKhoan/SuaTaiKhoan?tentk=' + item.TenTaiKhoan + '" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>';
                            display += '<a onclick="if (confirm(\'Bạn có chắc muốn xóa tai khoan này không ?\')) { location.href = \'/TaiKhoan/XoaTaiKhoan?tentk=' + item.TenTaiKhoan + '\'}" class="btn btn-sm bg-danger-light"><i class="fas fa-trash"></i></a></div></td></tr>';
                        });

                        $('#tbTaiKhoan').html(display);
                    }
                });
            }
        })
    </script>
}

