@model List<HUCE.Models.Quyen>

@{
    ViewBag.Title = "DanhSachQuyen";
    Layout = "~/Views/Layouts/_LayoutPageChung.cshtml";
}

<div class="content container-fluid">
    <div class="page-header">
        <div class="row align-items-center">
            <div class="form-row col-md-8">
                <div class="col-md-4 mb-3 top-nav-search">
                    <input type="text" class="form-control" placeholder="Nhập ma hoac ten quyen" id="ttq" name="ttq">
                </div>
                <div class="col-md-3 mb-1 top-nav-search">
                    <button class="btn" type="button" id="btnTimKiem"><i class="fas fa-search"> Tìm Kiếm</i></button>
                </div>
            </div>
            <div class="col-auto text-right float-right ml-auto">
                <a href="~/Quyen/ThemQuyen" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
            <div class="text-danger">
                @TempData["Error"]
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card card-table">
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover table-center mb-0 datatable">
                            <thead>
                                <tr>
                                    <th>Ma Quyen</th>
                                    <th>Ten Quyen</th>
                                    <th class="text-right">Hành động</th>
                                </tr>
                            </thead>
                            <tbody id="tbQuyen">
                                @foreach (var quyen in Model)
                                {
                                    <tr>
                                        <td>@quyen.MaQuyen</td>
                                        <td>@quyen.TenQuyen</td>
                                        <td class="text-right">
                                            <div class="actions">
                                                <a href="~/Quyen/SuaQuyen?maquyen=@quyen.MaQuyen" class="btn btn-sm bg-success-light mr-2">
                                                    <i class="fas fa-pen"></i>
                                                </a>
                                                <a href="#" onclick="if (confirm('Bạn có chắc muốn xóa quyen này không ?')) { location.href = '/Quyen/XoaQuyen?maquyen=@quyen.MaQuyen' }" class="btn btn-sm bg-danger">
                                                    <i class="fas fa-trash"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $('#btnTimKiem').click(function () {
                var ttq = $('#ttq').val();

                TimQuyen(ttq);
            });

            function TimQuyen(ttq) {
                $.ajax({
                    url: "/Quyen/TimQuyen",
                    type: 'post',
                    data: { ttq: ttq },
                    success: function (data) {
                        let display = '';

                        $.each(data.dsq, function (index, item) {
                            display += '<tr><td>' + item.MaQuyen + '</td>';
                            display += '<td>' + item.TenQuyen + '</td>';
                            display += '<td class="text-right"><div class="actions"><a href="/Quyen/SuaQuyen?maquyen=' + item.MaQuyen + '" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>';
                            display += '<a onclick="if (confirm(\'Bạn có chắc muốn xóa quyen này không ?\')) { location.href = \'/Quyen/XoaQuyen?maquyen=' + item.MaQuyen + '\'}" class="btn btn-sm bg-danger"><i class="fas fa-trash"></i></a></div></td></tr>';
                        });

                        $('#tbQuyen').html(display);
                    }
                });
            }
        })
    </script>
}

